.actions-wrapper{
  display: flex;
  position: relative;
  justify-content: flex-end;

  margin-top: 3rem;
  
  button{
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    padding: .75rem 1.25rem .75rem;

    background-color: var(--brand-dark);
    border-radius: 0.5rem;

    font: var(--body-md);
    color: var(--text-heading);
  }

}