#text-indicator{
  font: var(--text-sm);
  color: var(--input-placeholder);
}

.droparea-wrapper{
  display: flex;
  inset: 0;
  position: relative;
  align-items: center;
  margin-top: 1rem;
  
  .droparea-inner{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .dropzone{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.75rem;

    background-color: var(--shape-button);

    &:hover{
      background-color: var(--brand-mid);

      #img-upload svg path{
        fill: var(--text-heading);
      }
    }

    label{
      font: var(--text-sm);
      font-weight: 600;
      color: var(--text-heading);
    }

    & #img-upload svg path{
      max-width: 24px;
      min-height: 24px;
      object-fit: cover;
    }

    & input,
    & input:focus,
    & input:hover{
      all: unset;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}
